<nav class="pagination is-centered">
    {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-item pagination-previous">
        <svg>
            <use xlink:href="/static/fontawesome/solid.svg#angle-left"></use>
        </svg>
    </a>
    {% endif %}

    <ul class="pagination-list">
        <span>page = </span>
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li><a class="pagination-item pagination-link is-current">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-item pagination-link">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="pagination-item pagination-link">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-item pagination-next">
        <svg>
            <use xlink:href="/static/fontawesome/solid.svg#angle-right"></use>
        </svg>
    </a>
    {% endif %}
</nav>