.blog {
    padding: 3rem;
    padding-top: 1rem;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .blog {
        padding: 1rem;
    }
}

.post-list {
    list-style-type: none;
    margin-top: 0;

    li {
        padding: 1rem;
    }
    h3 {
        // padding-top: 0;
        margin-top: 0.5em;
        margin-bottom: 0em;
    }
}



.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    // width: 100%;
    margin: 0 1rem;
    

    .pagination-previous, .pagination-next {
        // display: inline;
        text-align: center;
        padding: 0.5em;
        min-width: 5em;
        
        &.disabled {
            color: gray;
        }
    }
    .pagination-list {
        display: flex;
        justify-content: center;
        list-style-type: none;
        flex-grow: 1; // container
    
        li .pagination-link {
            display: block;
            text-align: center;
            padding: 0.5em;
            min-width: 2.5em;
        }
    
        span {
            padding: 0.5em;
            flex-shrink: 1;
            text-overflow: ellipsis;
        }
    
    }
    .pagination-item {
        border-radius: 3px;
        box-shadow: 2px 2px 5px 0px #0000001f;
        transform: unset;
    }
}

