@import "nav";
@import "blog";

@font-face {
  font-family: 'opensans';
  font-weight: 400;
  src: url('/static/fonts/opensans.ttf')  format('truetype'),
}
@font-face {
  font-family: 'opensans';
  font-weight: 700;
  src: url('/static/fonts/opensans-bold.ttf')  format('truetype'),
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%;
  max-height: 700px;
  margin-top: 1em;
}

.social {
  list-style-type: none;
  text-align: left;

  svg {
    fill: white;
    height: 1em;
    width: 1em;
  }

  li {
    margin: 1em;
  }

  img#feedlyFollow {
    margin: 0;
    width: 5em;
  }
}

body {
  margin: 0;
  font-family: opensans;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

article.post { // TODO media query for very small screen
  > *:not(div) {
    margin-left: 4rem;
    margin-right: 4rem;
    max-width: 800px;
  }
  
  pre.highlight {
    padding: 1em;
    padding-left: 4rem;
    margin: 0;
    width: 100%;
    margin-bottom: 4px;
    overflow-x: auto;

    background-image:url(/static/img//pre-background.svg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100%
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
  }

  ul {
    list-style-type: square;
  }
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.nav-title {
  #title {
    font-size: x-large;
    font-weight: bold;
  }
}

.nav-links {
  list-style: none;
  font-size: large;

  li  {
    margin: 1rem;
  }
}

.toc {
  text-align: left;
  
  header {
    margin-top: 0.5em;
    font-weight: bold;
  }  
  ul {
    padding-left: 1em;
    margin-top: 0;
    list-style-type: square;
  }
  span {
    font-style: italic;
  }
}
