$mobileLimitW: 980px;
$navW: 250px;
$navH: 10px + 34px;

.site-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $navW;
    text-align: center;
    padding: 2em;
    z-index: 5;
    box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
    transition: left 0.5s ease;

    .menu-extend {
      width: 100%;
      height: $navH;
    }

    > * {
      padding: 0; //Fix strange 40 padding
    }
  }

  
  .site-header {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: $navH;
      text-align: center;
      padding: 10px;
      z-index: 3;
      box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
      transition: top 0.5s ease;
  }

  .menu-toggle {
    // Toggle main
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    transition: all 0.5s ease;

    // Toggle link overlays
    .open-nav, .close-nav {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      opacity: 0;
      z-index: 2; /* and place it over the hamburger */
    }
  }  

  #navigation:target .menu-toggle {
    left: $navW - 50px;
    padding-right: 0;
  }
  #navigation:not(:target) .open-nav {
    display: block;
  }
  #navigation:target .close-nav {
    display: block;
  }
  
  // Hamburger spans
  .menu-toggle {
    span {
      display: block;
      width: 34px;
      height: 4px;
      margin: 3px;
      position: relative;
      z-index: 1;
      transition: all 0.5s ease;
    }
    span:nth-child(1) {
      transform-origin: 4px 0%;
    }
    span:nth-child(3) {
      transform-origin: 4px 100%;
    }
  } 
  
  // Hamburger transforms
  #navigation:target .menu-toggle {
    span:nth-child(1) {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
    }
    span:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(0, -1px);
    } 

  } 

  @media (max-width: $mobileLimitW) {
    .post { // TODO fix header over titles
      margin-top: $navH;
    }

    // Hide nav
    #navigation:not(:target) .site-nav {
      left: -$navW;
    }

    #navigation:target .site-header {
      top: -$navH;
    }
  }


  @media (min-width: $mobileLimitW) {
    .post {
      margin-left: $navW;
    }

    .site-header {
      display: none;
    }
    .menu-toggle {
      display: none;
    }
  }