article.post {
    > *:not(div) {
      margin-left: 4rem;
      margin-right: 4rem;
      max-width: 900px;
      line-height: 1.6;
    }
    
    pre.highlight {
      padding: 1em;
      padding-left: 4rem;
      margin: 0;
      width: 100%;
      margin-bottom: 4px;
      overflow-x: auto;
  
      background-image:url(/static/img//pre-background.svg);
      background-attachment:fixed;
      background-repeat: repeat-y;
      background-position:center center;
      background-size:100%
    }

    p > code {
        font-size: 1.25em;
        // border-radius: 4px;
        padding: 1px 0.25em;
    }
    
    h1, h2, h3, h4, h5, h6 {
      margin-top: 2em;
    }
  
    ul {
      list-style-type: square;
    }

    *:target::before {
      display: inline-block;
      margin-right: 0.5em;
      content: "➔  ";
    }

    p a {
      word-wrap: break-word;
      max-width: 100%;
    }

    table {
      border-collapse: collapse;
      td, th {
        padding: 0.2em 1em;
      }
    }

    figure > div.video-container {
      position: relative;
      height: 0;
      padding-top: 55%; // trick for aspect ratio

      iframe.yt-video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    section.tags svg {
      height: 1em;
      width: 1em;
      vertical-align: middle;
    }
}

// Smaller borders for very small screens
@media (max-width: 768px) {
    article.post {
        > *:not(div) {
          margin-left: 1rem;
          margin-right: 1rem;
        }
        
        pre.highlight {
            padding-left: 1rem;
        }
    }
}

section.tags a.label {
    padding: 0.333em 0.666em;
    border-radius: 3px;
}

p.comments {
  position: relative;
  min-height: 10em;
  margin: 2em 0;

  div.utterances {
    max-width: 100%;
  }
  
  svg.loading {
    display: block;
    position: absolute;
    height: 2em;
    width: 2em;
    top: 5em;
    left: 50%;
    margin: auto;
    z-index: -1;
    animation: spin infinite 1s;
  }
  
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
}

nav.suggestions {
  margin: 1em 0;

  header {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }
  a {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // padding: 10px;
    // background-color: black;
    // border-radius: 3px;
  }
  a.next {
    float: right;
  }
}

footer {
  padding: 1em 0;
  margin-top: 3em;
}