---
# Dark theme definition
---

$textColor: #dddddd;
$accentColor: rgb(0, 128, 17);
// $accentColor: rgb(192, 77, 0);
// $accentColor: rgb(0, 55, 144);
$bgDarkColor: #000;
$bgLightColor: #222;
$fgColor: #555555;

@import "theme";
