---
# Bright theme definition
---

$textColor: #000;
$accentColor: #007e11;
// $accentColor: rgb(255, 102, 0);
// $accentColor: rgb(0, 55, 144);
$bgDarkColor: rgb(240, 240, 240);
$bgLightColor: #fff;
$fgColor: rgb(100, 100, 100);

@import 'theme';