---
# Bright theme definition
---

$textColor: #000;
$accentColor: #007e11;
// $accentColor: rgb(255, 102, 0);
// $accentColor: rgb(0, 55, 144);
$bgDarkColor: #f0f0f0;
$bgLightColor: #fff;
$fgColor: #7a7a7a;

@import 'theme';