<div id="navigation">
    <header class="site-header">
        {{ site.Title }}
    </header>
    <div id="menuToggle" class="menu-toggle">
        <a href="#navigation" class="open-nav" aria-label="Open menu"></a>
        <a href="#" class="close-nav" aria-label="Close menu"></a>
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="site-nav">
        <section class="nav-content">
            <div class="nav-title">
                <a href="/" id="title">{{ site.Title }}</a>
                {{/* random jklr backronym, filled in by main.js */}}
                <span id="subtitle"></span>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/">Blog</a>
                </li>
                <li>
                    <a href="/projects/">Projects</a>
                </li>
                <li>
                    <a href="/tags/">Tags</a>
                </li>
            </ul>

            {{- with .toc }}
                <nav class="toc">
                    <span>Currently reading:</span>
                    <a href="#">
                        <header>
                            {{ $.title }}
                        </header>
                    </a>
                    {{ . }}
                </nav>
                <div class="border-placeholder"></div>
            {{- end }}
            <div class="about">
                <a href="/about/">About Me</a>
                {{- partial "social.html" . -}}
            </div>
            <section class="theme">
                <header>Theme</header>
                <div class="theme-selector">
                    <input class="accent" type="color">
                    <div class="themes">
                        <button class="dark">dark</button>
                        <button class="bright">bright</button>
                    </div>
                    <button class="reset">
                        <svg>
                            <use href="/static/fontawesome/solid.svg#redo"></use>
                        </svg>
                    </button>
                </div>
            </section>
        </section>
    </nav>
</div>
