$textColor: #dddddd;
$accentColor: rgb(0, 92, 12);
// $accentColor: rgb(255, 102, 0);
$bgLight: #000;
$bg: #222;
// $bgLight: #222;
// $bg: #000;

@import "syntax-dark";

body {
    color: $textColor;
    background-color: $bg;
}


a { //TODO fix post links vis
    color: $textColor;
    transition: color 0.3s;
    &:hover {
      color: $accentColor;
    }
}

.site-nav {
    background: linear-gradient($bgLight 50%,  $accentColor 100%);
}

.site-header {
    background: $bgLight;
}

.menu-toggle {
    background: $accentColor;
}
.menu-toggle span {
    background: $bgLight;
}

.post-meta {
    color: $accentColor;
}