$textColor: #dddddd;
// $accentColor: rgb(0, 126, 17);
$accentColor: rgb(192, 77, 0);
// $accentColor: rgb(0, 55, 144);
$bgDarkColor: #000;
$bgLightColor: #222;
$fgColor: #444;

@import "syntax-dark";

body {
    color: $textColor;
    background-color: $bgLightColor;
}


a {
    color: $textColor;
    transition: color 0.3s;
    &:hover {
      color: $accentColor;
    }
}

.site-nav {
    background: linear-gradient($bgDarkColor 0%,  $accentColor 100%);
}
.site-header {
    background: $bgDarkColor;
}
.nav-links {
    border-top: thin solid $textColor;
    border-bottom: thin solid $textColor;
}

.menu-toggle {
    background: $accentColor;
}
.menu-toggle span {
    background: $bgDarkColor;
}

article.post {
    a {
        color: $accentColor;
        &:hover {
            color: $fgColor;
        }
    }

    p > code {
        background-color: black;
        border: thin solid $fgColor;
    }
}
.post-meta {
    // color: $accentColor;
    color: grey;
}

.pagination-item {
    background: $fgColor;
    border: thin solid $bgDarkColor;

    &:hover {
        color: $bgLightColor;
        background-color: $accentColor;
        transition: background-color 0.3s ease;
    }
}
.pagination-link.is-current {
    background: $accentColor;
}

.post-list li {
    // background-color: $bgDarkColor;
    border-bottom: thin solid $fgColor;
}
