$textColor: #dddddd;
$accentColor: rgb(0, 92, 12);
// $accentColor: rgb(255, 102, 0);
$bgDarkColor: #000;
$bgLightColor: #222;
$fgColor: #444;

@import "syntax-dark";

body {
    color: $textColor;
    background-color: $bgLightColor;
}


a { //TODO fix post links vis
    color: $textColor;
    transition: color 0.3s;
    &:hover {
      color: $accentColor;
    }
}

.site-nav {
    background: linear-gradient($bgDarkColor 0%,  $accentColor 100%);
}

.site-header {
    background: $bgDarkColor;
}

.menu-toggle {
    background: $accentColor;
}
.menu-toggle span {
    background: $bgDarkColor;
}

.post-meta {
    color: $accentColor;
}

.pagination-item {
    background: $fgColor;
    border: thin solid $bgDarkColor;

    &:hover {
        background-color: $accentColor;
        color: $bgLightColor;
        transition: background-color 0.3s ease;
    }
}
.pagination-link.is-current {
    background: $accentColor;
}
