---
layout: default
---

{% capture toc_html %}
  {% include toc.html html=content class="toc-content" %}
{% endcapture %}
{%- include navigation.html toc=toc_html title=page.title -%}

<article class="post">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: date_format }}
          </time>
          {%- if page.last_modified_at -%}
            ~ updated:
            {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
            <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
              {{ mdate | date: date_format }}
            </time>
          {%- endif -%}
          {%- if page.author -%}
            • {% for author in page.author %}
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                {%- if forloop.last == false %}, {% endif -%}
            {% endfor %}
            {%- endif -%}
          </p>
    </header>

    {{ content }}
    
    <footer>
      {% include tags.html tags=page.tags title='Tags:' %}
    </footer>
    {% include comments.html %}

    <nav class="suggestions">
      {% if page.previous.url or page.next.url%}
      <header>You might be interested in the previous/next posts:</header>        
      {% endif %}
      <div>
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>
    </nav> 
</article>